.coBg {
  width: 295px;
  height: 486px;
  border-radius: 10px;
  background-color: #206e86;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

.coFg{
  width: 295px;
  height: 411px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}

.coPlaceholder {
  width: 260px;
  object-fit: contain;
  margin-top:5%;
}
